$c-warning: #fff;
$c-primary: #fe9024;
$c-white: #fff;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';

// @import 'components/options';

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  &__item {
    width: calc(100% * 1 / 3 - 1rem - 1rem);
    margin: 1rem;
  }
}

.shop-item {
  border: 0.2rem #3d91b5 solid;
  margin: 0;
}

.shop-item__title {
  color: #4cb1f1;

}

.shop-item__description {
  color: #4cb1f1;
}

.shop-item__actions {
  display: flex;

  &-btn {
  flex-grow: 1;
  padding: 0.4rem;
  color: #4cb1f1;
  border: 0.01rem #4cb1f1 solid;
  }
}

.shop-item__actions-btnshop-menu {
 justify-content: center;
 align-items: flex-end;
  }

.shop-menu {
  &__tooltip {
    display: none;


  }
}
